{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div id="panel" class="panel panel-default magic-element width-full">
                {% include 'partials/admin/panel_heading.html.twig' with {'panel_heading_title': 'Import list'} %}
                <div class="table-responsive">
                    <table class="table table-hover datatables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Import ID</th>
                                <th>Provider</th>
                                <th>Verify</th>
                                <th>Total</th>
                                <th>Create At</th>
                                <th>Updated At</th> 
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = 0 %}
                            {% for import in imports %}
                                {% set count = count + 1 %}
                                <tr>
                                    <td>{{ count }}</td>
                                    <td><a href="{{ path('import_show', { 'id': import.id }) }}">{{ import.id|generateId() }}</a></td>
                                    <td>{{ import.provider.name }}</td>
                                    <td>{% if import.verified == true %}
                                        <img src="https://thumb9.shutterstock.com/display_pic_with_logo/436114/561785266/stock-vector-verified-stamp-sticker-seal-round-grunge-vintage-ribbon-verified-sign-561785266.jpg" width="45" height="40" />
                                    {% endif %}</td>
                                    <td>{{ import.total|number_format(0, '.', ',') }}</td>
                                    <td>{% if import.createdAt %}{{ import.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if import.updatedAt %}{{ import.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-ion btn-primary" href="{{ path('import_new') }}">Add</a>
                                            {% if import.verified == false %}
                                                <a class="btn btn-ion btn-success" href="{{ path('import_edit', { 'id': import.id }) }}">Edit</a>
                                                <a href="{{ path('import_delete', {'id': import.id }) }}" onclick="confirm('Are you sure?');" class="btn btn-ion btn-danger btn-delete">Delete</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                       </tbody>
                    </table>
                    {% if(imports|length == 0) %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" href="{{ path('import_new') }}">Add New</a>
                        </div>
                    </div>
                    {% endif %}
                </div><!-- /.table-responsive -->
            </div><!-- /panel -->
        </div>
    </div><!-- /app body -->
{% endblock %}