{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div class="box magic-element width-full">
                {% include 'partials/admin/messages.html.twig' %}
                {% include 'partials/admin/box_heading.html.twig' with {'box_heading_title': 'Import Creation'} %}
                {{ form_start(form, {'attr': {'class': 'form-validate form-horizontal', 'novalidate': 'novalidate', 'role': 'form'}}) }}
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row row-mb-5">
                                        <div class="col-md-6">
                                            {{ form_label(form.provider, 'Provider') }}
                                            
                                            <div class="input-group" style="margin-left: 0px">
                                                {% set _class = 'form-control' %}
                                                {% if not form.provider.vars.valid %}
                                                    {% set _class = 'form-control error' %}
                                                {% endif %}
                                                {{ form_widget(form.provider, {'attr': {'class': _class}}) }}
                                                <div class="input-group-addon">
                                                    <span class="icon ion-ios7-plus-empty"></span>
                                                </div>
                                            </div>

                                            {{ form_errors(form.provider) }}
                                        </div>

                                        <div class="col-md-6">
                                            {{ form_label(form.import_details.vars.prototype.product, 'Product') }}
                                            
                                            <div class="input-group">
                                                {% set _class = 'form-control' %}
                                                {% if form.import_details.__name__.product.vars.valid is defined and form.import_details.__name__.product.vars.valid == FALSE %}
                                                    {% set _class = 'form-control error' %}
                                                {% endif %}
                                                {% if form.import_details.children.__name__.product is defined %}
                                                    {{ form_widget(form.import_details.children.__name__.product, {'attr': {'class': _class}}) }}
                                                {% else %}
                                                    {{ form_widget(form.import_details.vars.prototype.product, {'attr': {'class': _class}}) }}
                                                {% endif %}
                                                <div class="input-group-addon">
                                                    <span class="icon ion-ios7-plus-empty"></span>
                                                </div>
                                            </div>

                                            {% if form.import_details.__name__.product is defined %}
                                                {{ form_errors(form.import_details.__name__.product) }} 
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row row-mb-5">
                                        <div class="col-md-4">
                                            {{ form_label(form.import_details.vars.prototype.quantity, 'Quantity') }}
                                            <div class="input-group" style="margin-left: 0px">
                                                {% set _class = 'form-control number-input quantity' %}
                                                {% if form.import_details.__name__.quantity.vars.valid is defined and form.import_details.__name__.quantity.vars.valid == FALSE %}
                                                    {% set _class = 'form-control number-input quantity error' %}
                                                {% endif %}
                                                {% if form.import_details.children.__name__.quantity is defined %}
                                                    {{ form_widget(form.import_details.children.__name__.quantity, {'attr': {'class': _class}}) }}
                                                {% else %}
                                                    {{ form_widget(form.import_details.vars.prototype.quantity, {'attr': {'class': _class}}) }}
                                                {% endif %}

                                                {% if form.import_details.__name__.quantity is defined %}
                                                    {{ form_errors(form.import_details.__name__.quantity) }} 
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            {{ form_label(form.import_details.vars.prototype.unitPrice, 'Unit Price') }}
                                            
                                            <div class="input-group">
                                                {% set _class = 'form-control number-input unit-price' %}
                                                {% if form.import_details.__name__.unitPrice.vars.valid is defined and form.import_details.__name__.unitPrice.vars.valid == FALSE %}
                                                    {% set _class = 'form-control number-input unit-price error' %}
                                                {% endif %}
                                                {% if form.import_details.children.__name__.unitPrice is defined %}
                                                    {{ form_widget(form.import_details.children.__name__.unitPrice, {'attr': {'class': _class}}) }}
                                                {% else %}
                                                    {{ form_widget(form.import_details.vars.prototype.unitPrice, {'attr': {'class': _class}}) }}
                                                {% endif %}
                                                
                                                {% if form.import_details.__name__.unitPrice is defined %}
                                                    {{ form_errors(form.import_details.__name__.unitPrice) }} 
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="admin_import_price">Total</label>
                                            <input id="admin_import_price" name="admin_import_price" class="form-control" type="text" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="row row-mb-5">
                                        <div class="col-md-6">
                                            {{ form_label(form.note, 'Note') }}
                                            {{ form_widget(form.note, {'attr': {'class': 'form-control col-xs-12', 'rows': 3, 'style': "margin-left: 0px"}}) }}
                                            {{ form_errors(form.note) }}
                                        </div>

                                        <div class="col-md-6">
                                            {{ form_label(form.payment, 'Payment') }}
                                            {{ form_widget(form.payment, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                                            {{ form_errors(form.payment) }}
                                        </div>  
                                    </div>
                                         
                                    <div class="row row-mb-5">
                                        <div class="col-md-12 hidden">
                                            {{ form_label(form.total, 'Total') }}
                                            {% set _class = 'form-control' %}
                                            {% if not form.total.vars.valid %}
                                                {% set _class = 'form-control error' %}
                                            {% endif %}
                                            {{ form_widget(form.total, {'attr': {'class': _class, 'readonly': 'readonly'}}) }}
                                            {{ form_errors(form.total) }}
                                        </div>   
                                    </div>
                                </div>
                      
                                <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top:20px">
                                    <div class="form-group">
                                        <img id="product_image" height="210" width="210" src="#" />
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-lg-12">
                                <input class="btn btn-primary" type="submit" value="Create">
                                <a class="btn btn-default" href="{{ path('import_index') }}">Back to the list</a>
                            </div>
                        </div>
                        {{ form_widget(form.import_details, {'attr': {'class': 'hidden'}}) }}
                    </fieldset>
                    
                {{ form_end(form) }}  
            </div><!-- /box -->
        </div><!-- /magic-layout -->
    </div><!-- /app body -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        addImageByAjax();
    });

    $( "#admin_import_import_details___name___product" ).change(function() {
        addImageByAjax();
    });

    function addImageByAjax() {
        var id = $("#admin_import_import_details___name___product option:selected").val();
        $.ajax({
            url: "/admin/product/info",
            type: "POST",
            data: { id : id },
            dataType: 'json',
            success: function(data) {
                if(data.status == 1) {
                    var image = !data.product.image ? 'https://www.oatey.com/ASSETS/IMAGES/ITEMS/DETAIL_PAGE/NoImage.png' : '/' + data.product.image;
                    $('#product_image').attr('src', image);
                }
            },
            error: function (xhr, status, error) {
                //console.log(xhr.responseText);
            }
        });
    }

    $(document).ready(function() {
        $('.number-input').keyup(function(e) { 
            var charCode = (e.which) ? e.which : e.keyCode;
            if(e.keyCode == 9 || (e.keyCode >= 48 && e.keyCode <=57) || (e.keyCode >= 96 && e.keyCode <=105)) { 
                return;
            } 
            $('.number-input').val('');
        });

        $('.number-input.quantity').keyup(function(e) { 
            if(e.keyCode == 9 || (e.keyCode >= 48 && e.keyCode <=57) || (e.keyCode >= 96 && e.keyCode <=105)) { 
                $('#admin_import_price').val(calculatePrice());
                return;
            }
            $('.number-input.quantity').val('');
            $('#admin_import_price').val(calculatePrice());
        });

        $('.number-input.unit-price').keyup(function(e) { 
            if(e.keyCode == 9 || (e.keyCode >= 48 && e.keyCode <=57) || (e.keyCode >= 96 && e.keyCode <=105)) { 
                $('#admin_import_price').val(calculatePrice());
                return;
            }
            $('.number-input.unit-price').val('');
            $('#admin_import_price').val(calculatePrice());
        });
    });

    function calculatePrice() {
        var quantity = parseInt($('.number-input.quantity').val());
        var unit_price = parseInt($('.number-input.unit-price').val());

        if(unit_price > 0 && quantity > 0) {
            return quantity * unit_price;
        }

        return '';
    }

</script>
{% endblock javascripts %}
