{% extends 'base.html.twig' %}

{% block body %}
    <h1>Import</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ import.id }}</td>
            </tr>
            <tr>
                <th>Dateorder</th>
                <td>{% if import.dateOrder %}{{ import.dateOrder|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ import.total }}</td>
            </tr>
            <tr>
                <th>Payment</th>
                <td>{{ import.payment }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ import.note }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if import.createdAt %}{{ import.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if import.updatedAt %}{{ import.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('import_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('import_edit', { 'id': import.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
