{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importdetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ importDetail.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ importDetail.quantity }}</td>
            </tr>
            <tr>
                <th>Unitprice</th>
                <td>{{ importDetail.unitPrice }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if importDetail.createdAt %}{{ importDetail.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if importDetail.updatedAt %}{{ importDetail.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('import_detail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('import_detail_edit', { 'id': importDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
