{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div class="box magic-element width-full">
                {% include 'partials/admin/box_heading.html.twig' with {'box_heading_title': 'Type Edit'} %}
                {{ form_start(edit_form, {'attr': {'class': 'form-validate form-horizontal', 'novalidate': 'novalidate'}}) }}
                    {{ form_widget(edit_form._token) }}

                    {% set _class = 'form-group' %}
                        {% if not edit_form.name.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="cname" class="control-label col-lg-2">Name <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cdescription" class="control-label col-lg-2">Description</label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input class="btn btn-primary" type="submit" value="Create">
                            <a class="btn btn-default" href="{{ path('type_index') }}">Back to the list</a>
                        </div>
                    </div>
                {{ form_end(edit_form) }}
            </div><!-- /box -->
        </div><!-- /magic-layout -->
    </div><!-- /app body -->
{% endblock %}