{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div class="box magic-element width-full">
                {% include 'partials/admin/box_heading.html.twig' with {'box_heading_title': 'Customer Edit'} %}
                {{ form_start(edit_form, {'attr': {'class': 'form-validate form-horizontal', 'novalidate': 'novalidate', 'role': 'form'}}) }}
                    {{ form_widget(edit_form._token) }}
                    {% set _class = 'form-group' %}
                        {% if not edit_form.name.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="cname" class="control-label col-lg-2">Name <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>

                    {% set _class = 'form-group' %}
                        {% if not edit_form.gender.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="cgender" class="control-label col-lg-2">Gender <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.gender, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.gender) }}
                        </div>
                    </div>

                    {% set _class = 'form-group' %}
                        {% if not edit_form.email.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="cemail" class="control-label col-lg-2">Email <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.email) }}
                        </div>
                    </div>

                    {% set _class = 'form-group' %}
                        {% if not edit_form.address.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="caddress" class="control-label col-lg-2">Address <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.address) }}
                        </div>
                    </div>

                    {% set _class = 'form-group' %}
                        {% if not edit_form.phoneNumber.vars.valid %}
                        {% set _class = 'form-group has-error' %}
                    {% endif %}
                    <div class="{{ _class }}">
                        <label for="cphone" class="control-label col-lg-2">Phone Number <span class="required">*</span></label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(edit_form.phoneNumber) }}
                        </div>
                    </div>

                    <div class="{{ _class }}">
                        <label for="cnote" class="control-label col-lg-2">Note</label>
                        <div class="col-lg-10">
                            {{ form_widget(edit_form.note, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input class="btn btn-primary" type="submit" value="Create">
                            <a class="btn btn-default" href="{{ path('customer_index') }}">Back to the list</a>
                        </div>
                    </div>
                {{ form_end(edit_form) }}
            </div><!-- /box -->
        </div><!-- /magic-layout -->
    </div><!-- /app body -->
{% endblock %}