{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div id="panel" class="panel panel-default magic-element width-full">
                {% include 'partials/admin/panel_heading.html.twig' with {'panel_heading_title': 'Size list'} %}
                <div class="table-responsive">
                    <table class="table table-hover datatables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = 0 %}
                            {% for size in sizes %}
                                {% set count = count + 1 %}
                                <tr size_id='{{ size.id }}'>
                                    <td>{{ count }}</td>
                                    <td><a href="{{ path('size_show', { 'id': size.id }) }}">{{ size.name }}</a></td>
                                    <td>{{ size.description }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-ion btn-primary" href="{{ path('size_new') }}">Add</a>
                                            <a class="btn btn-ion btn-success" href="{{ path('size_edit', { 'id': size.id }) }}">Edit</a>
                                            <a href="{{ path('size_delete', {'id': size.id }) }}" onclick="confirm('Are you sure?');" class="btn btn-ion btn-danger btn-delete">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if(sizes|length == 0) %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" href="{{ path('size_new') }}">Add New</a>
                        </div>
                    </div>
                    {% endif %}
                </div><!-- /.table-responsive -->
            </div><!-- /panel -->
        </div>
    </div><!-- /app body -->
{% endblock %}