{% extends 'layoutAdminDefault.html.twig' %}
{% block content_app_body %}
    <div class="app-body">
        <div class="magic-layout">
            <div id="panel" class="panel panel-default magic-element width-full">
                <div class="panel-heading">
                    <div class="panel-icon"><i class="icon ion-ios7-photos-outline"></i></div>
                    <div class="panel-actions">
                        <a role="button" data-refresh="#panel" title="refresh" class="btn btn-sm btn-icon">
                            <i class="icon ion-refresh"></i>
                        </a>
                        <a role="button" data-expand="#panel" title="expand" class="btn btn-sm btn-icon">
                            <i class="icon ion-arrow-resize"></i>
                        </a>
                        <a role="button" data-collapse="#panel" title="collapse" class="btn btn-sm btn-icon">
                            <i class="icon ion-chevron-down"></i>
                        </a>
                        <a role="button" data-close="#panel" title="close" class="btn btn-sm btn-icon">
                            <i class="icon ion-close-round"></i>
                        </a>
                    </div><!-- /panel-actions -->
                    <h3 class="panel-title">Size list</h3>
                </div><!-- /panel-heading -->
                <div class="table-responsive">
                    <table class="table table-hover datatables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = 0 %}
                            {% for size in sizes %}
                                {% set count = count + 1 %}
                                <tr size_id='{{ size.id }}'>
                                    <td>{{ count }}</td>
                                    <td><a href="{{ path('size_show', { 'id': size.id }) }}">{{ size.name }}</a></td>
                                    <td>{{ size.description }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-ion btn-primary" href="{{ path('size_new') }}">Add</a>
                                            <a class="btn btn-ion btn-success" href="{{ path('size_edit', { 'id': size.id }) }}">Edit</a>
                                            <a href="{{ path('size_delete', {'id': size.id }) }}" onclick="confirm('Are you sure?');" class="btn btn-ion btn-danger btn-delete">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if(sizes|length == 0) %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" href="{{ path('size_new') }}">Add New</a>
                        </div>
                    </div>
                    {% endif %}
                </div><!-- /.table-responsive -->
            </div><!-- /panel -->
        </div>
    </div><!-- /app body -->
{% endblock %}